name: Build ATtiny85

"on":
  pull_request:
    branches: ["main"]
    paths:
      - '*.nix'
      - .github/workflows/build-attiny85.yaml
      - .justfile
      - boards/attiny85/.cargo/**
      - boards/attiny85/avr-unknown-none-attiny85.json
      - boards/attiny85/Cargo.lock
      - boards/attiny85/Cargo.toml
      - boards/attiny85/**.nix
      - boards/attiny85/rust-toolchain.toml
      - boards/attiny85/src/**
      - flake.lock
  push:
    branches: ["main"]
    paths:
      - '*.nix'
      - .github/workflows/build-attiny85.yaml
      - .justfile
      - boards/attiny85/.cargo/**
      - boards/attiny85/avr-unknown-none-attiny85.json
      - boards/attiny85/Cargo.lock
      - boards/attiny85/Cargo.toml
      - boards/attiny85/**.nix
      - boards/attiny85/rust-toolchain.toml
      - boards/attiny85/src/**
      - flake.lock
  workflow_dispatch:

jobs:
  build-attiny85:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: DeterminateSystems/nix-installer-action@v21
      - name: Build
        run: nix build .#attiny85
      - name: Upload firmware
        uses: actions/upload-artifact@v6
        with:
          name: pwm-fan-controller-attiny85
          path: |
            result/bin/pwm-fan-controller-attiny85.elf
            result/bin/pwm-fan-controller-attiny85.hex
